<div class="game">
  <div class="difficulty">{{difficulty}}</div>
  <div class="timer">{{timeElapsed}}</div>
  {{#each grid as |row|}}
    <div class="row">
      {{#each row as |cell|}}
        <div class="cell {{if cell.error "error"}} {{if (and cell.displayValue (and currentlySelectedCell.displayValue (eq cell.value currentlySelectedCell.displayValue))) "same-value"}} {{if cell.given "given"}} {{if cell.selected "selected"}}" {{action "select" cell}} role="button">
          {{#if cell.displayValue}}
            <div class="guess">
              {{cell.displayValue}}
            </div>
          {{else}}
            <div class="hints">
              <div class="hint-row">
                <span class={{if (array-contains cell.hints 1) "shown"}}>{{t "components.sudoku-grid.1"}}</span>
                <span class={{if (array-contains cell.hints 2) "shown"}}>{{t "components.sudoku-grid.2"}}</span>
                <span class={{if (array-contains cell.hints 3) "shown"}}>{{t "components.sudoku-grid.3"}}</span>
              </div>
              <div class="hint-row">
                <span class={{if (array-contains cell.hints 4) "shown"}}>{{t "components.sudoku-grid.4"}}</span>
                <span class={{if (array-contains cell.hints 5) "shown"}}>{{t "components.sudoku-grid.5"}}</span>
                <span class={{if (array-contains cell.hints 6) "shown"}}>{{t "components.sudoku-grid.6"}}</span>
              </div>
              <div class="hint-row">
                <span class={{if (array-contains cell.hints 7) "shown"}}>{{t "components.sudoku-grid.7"}}</span>
                <span class={{if (array-contains cell.hints 8) "shown"}}>{{t "components.sudoku-grid.8"}}</span>
                <span class={{if (array-contains cell.hints 9) "shown"}}>{{t "components.sudoku-grid.9"}}</span>
              </div>
            </div>

          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>

<div class="buttons">
  <div class="row {{if hintMode "hint"}}">
    {{#paper-button onClick=(action "selectNumber" 1)}}{{t "components.sudoku-grid.1"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 2)}}{{t "components.sudoku-grid.2"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 3)}}{{t "components.sudoku-grid.3"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 4)}}{{t "components.sudoku-grid.4"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 5)}}{{t "components.sudoku-grid.5"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 6)}}{{t "components.sudoku-grid.6"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 7)}}{{t "components.sudoku-grid.7"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 8)}}{{t "components.sudoku-grid.8"}}{{/paper-button}}
    {{#paper-button onClick=(action "selectNumber" 9)}}{{t "components.sudoku-grid.9"}}{{/paper-button}}
  </div>
  <div class="row">
    {{#paper-button onClick=(action "inverseSelection")}}{{t "components.sudoku-grid.invert"}}{{/paper-button}}
    {{#paper-button onClick=(action "toggleHintMode")}}{{t "components.sudoku-grid.hint-mode"}}{{/paper-button}}
    {{#paper-button onClick=(action "clearCell")}}{{t "components.sudoku-grid.clear"}}{{/paper-button}}
    {{#paper-button onClick=(action "checkPuzzle")}}{{t "components.sudoku-grid.check"}}{{/paper-button}}
  </div>
</div>

{{!- Vim directions !}}
{{keyboard-press key="KeyJ" on-press=(action "moveSelection" "down")}}
{{keyboard-press key="KeyK" on-press=(action "moveSelection" "up")}}
{{keyboard-press key="KeyH" on-press=(action "moveSelection" "left")}}
{{keyboard-press key="KeyL" on-press=(action "moveSelection" "right")}}

{{!- Arrow directions !}}
{{keyboard-press key="ArrowDown" on-press=(action "moveSelection" "down")}}
{{keyboard-press key="ArrowUp" on-press=(action "moveSelection" "up")}}
{{keyboard-press key="ArrowLeft" on-press=(action "moveSelection" "left")}}
{{keyboard-press key="ArrowRight" on-press=(action "moveSelection" "right")}}

{{keyboard-press key="Digit1" on-press=(action "selectNumber" 1)}}
{{keyboard-press key="Digit2" on-press=(action "selectNumber" 2)}}
{{keyboard-press key="Digit3" on-press=(action "selectNumber" 3)}}
{{keyboard-press key="Digit4" on-press=(action "selectNumber" 4)}}
{{keyboard-press key="Digit5" on-press=(action "selectNumber" 5)}}
{{keyboard-press key="Digit6" on-press=(action "selectNumber" 6)}}
{{keyboard-press key="Digit7" on-press=(action "selectNumber" 7)}}
{{keyboard-press key="Digit8" on-press=(action "selectNumber" 8)}}
{{keyboard-press key="Digit9" on-press=(action "selectNumber" 9)}}
{{keyboard-press key="KeyC" on-press=(action "clearCell")}}
{{keyboard-press key="KeyS" on-press=(action "toggleHintMode")}}
{{keyboard-press key="Enter" on-press=(action "checkPuzzle")}}
