<button disabled={{refreshing}} {{action "fetchPuzzles"}}>
  {{#if refreshing}}
    {{t "templates.puzzles.refreshing"}}
  {{else}}
    {{t "templates.puzzles.load-puzzles"}}
  {{/if}}
</button>
<button {{action "reset"}}>
  {{t "templates.puzzles.reset-progress"}}
</button>

<dl>
  <dt> {{t "templates.puzzles.total"}} </dt>
  <dd>{{puzzles.length}}</dd>
  <dt> {{t "templates.puzzles.completed"}} </dt>
  <dd>{{completedPuzzles.length}}</dd>
</dl>

<ul>
  {{#each puzzles as |puzzle|}}
    <li>
      <input type="checkbox" checked={{puzzle.completedAt}} disabled>
      {{puzzle.id}}
      {{puzzle.startedAt}}
      {{puzzle.completedAt}}
    </li>
  {{/each}}
</ul>